/* Reset básico e importação de fonte */
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
}


body {
  position: relative;
  min-height: 100vh;
  background: none;
  overflow: hidden;
}

/* Background com blur */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/images/bg.png") no-repeat center center/cover;
  filter: blur(4px);
  z-index: -1;
}

/* Estilos de Header com Grid */
.header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  background: #ffffff;
  padding: 10px;
  z-index: 1000;
  width: 100%;
  position: relative;
}

.logo {
  max-width: 100%;
}

.logoheader {
  width: 18%;
  background: #b81d1a;
  padding: 10px;
  transform: skew(-20deg);
}

.navbar {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  font-size: 18px;
  color: #212529;
  text-decoration: none;
  transition: 0.3s;
}

.login{
  font-size: 18px;
  color: #212529;
  text-decoration: none;
  transition: 0.3s;
  border: none;
  background-color: white;
}
.login button:hover{
  border-bottom: 2px solid #212529;
}

.navbar a:hover {
  border-bottom: 2px solid #212529;
}

/* Esconde o botão de hambúrguer no desktop */
.menu-btn {
  display: none;
}

/* Conteúdo com Grid */
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 90%;
  padding: 40px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  margin-left: 5%;
  margin-top: 2%; 
}

.content-text {
  padding-right: 20px;
}

.content-text h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #b81d1a;
}

.content-text p {
  font-size: 1.2rem;
  color: #212529;
  margin-bottom: 20px;
}

.mySlides {
  width: 100%;
  height: auto;
}
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.container__login {
  max-width: 350px;
  background: linear-gradient(0deg, #fff 0%, #e0e1dd 100%);
  border-radius: 40px;
  padding: 25px 35px;
  box-shadow: rgba(27, 38, 43, 0.878) 0px 30px 30px -20px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}

.form .input {
  width: 100%;
  background: var(--text-dark);
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: var(--primary-color) 0px 10px 10px -5px;
}

.login-button {
  margin-top: 15px;
  background-color: #b81d1a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 15px;
}


.login-button:hover {
  background-color: #9e1715;
}

.close-btn {
  margin-top: 15px;
  background-color: #cccccc;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 15px;
}
span a:hover{
  color: #010d41;
  
}

.close-btn:hover {
  background-color: #999999;
}

.toggle-btn {
  margin-top: 15px;
  background: none;
  border: none;
  color: #b81d1a;
  cursor: pointer;
  text-decoration: underline;
}

.toggle-btn:hover {
  color: #212529;
}

/* Estilos responsivos para telas menores */
@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }

  /* Exibe o botão de hambúrguer apenas em telas menores */
  .menu-btn {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
  }

  .navbar {
    display: none;
    grid-template-columns: none;
    grid-row-gap: 10px;
    flex-direction: column;
    justify-content: center;
  }

  .navbar.active {
    display: grid;
    position: absolute;
    top: 50px; /* Abaixo do header */
    width: 100%;
    background: white;
    z-index: 999;
  }

  /* Ajusta o conteúdo para uma coluna em telas menores */
  .content {
    grid-template-columns: 1fr;
    margin-top: 70px; /* Ajusta o conteúdo para ficar abaixo do header */
    padding: 20px;
  }
}
